@import "../utilities/variables";
@import "../utilities/mixins";

.config-container {
  width: 100vw;
  @extend %flex-center-column;
}

.config {
  @extend %shadow-1;
  @extend %flex-center-column;
  width: 100%;
  background-color: $secondary-background;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.config-text {
  font-size: 1.2em;
  padding-left: 40px;
}

.pass-length-label {
  @extend %default-font;
  position: inherit;
  font-size: 1.25em;
  color: $primary-color;
}
