@import "../utilities/variables";


input[type="checkbox"] {
  display: none;
}

.checkbox {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: $primary-background;
  margin: 10px 80px;
  position: relative;
  border-radius: 2px;
}

.checkbox label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #bdbebf;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.checkbox input[type="checkbox"]:checked + label {
  left: 10px;
  background-color: $primary-color;
}
