<div class="config-container">

  <div class="config">
    <label class="pass-length-label" for="pass-size">Password size: {{ passSizeValue.value }}</label>
    <input
      type="range"
      id="pass-size"
      name="pass-size"
      min="0"
      max="100"
      value="9"
      (input)="passSize(passSizeValue.value)"
      #passSizeValue
    />

    <form class="" (change)="passChar(lower, number, upper, special)">
      <div class="checkbox">
        <span class="config-text">Lower</span>
        <input
          type="checkbox"
          id="lower"
          checked="checked"
          (change)="(lower.checked)"
          #lower
        />
        <label for="lower"></label>
      </div>
      <div class="checkbox">
        <span class="config-text">Number</span>
        <input
          type="checkbox"
          id="number"
          checked="checked"
          (change)="(number.checked)"
          #number
        />
        <label for="number"></label>
      </div>
      <div class="checkbox">
        <span class="config-text">Upper</span>
        <input type="checkbox" id="upper" (change)="(upper.checked)" #upper/>
        <label for="upper"></label>
      </div>
      <div class="checkbox">
        <span class="config-text">Special</span>
        <input
          type="checkbox"
          id="special"
          (change)="(special.checked)"
          #special
        />
        <label for="special"></label>
      </div>
    </form>
  </div>
</div>

<div class="generate">
  <button class="generate-button" (click)="myEvent()">generate</button>

  <div class="pass-container" *ngFor="let pass of passStrength">
      <span class="pass-text">{{ pass }}
        <button class="btn-small" (click)="copyToClipboard(pass)"><fa-icon
          [icon]="faClipboard"></fa-icon></button></span>
  </div>
</div>
