// blue
$blue-900: #43357f;
$blue-800: #50539e;
$blue-700: #5863b0;
$blue-600: #6075c3;
$blue-500: #6682d1;
$blue-400: #7393d7;
$blue-300: #86a5db;
$blue-200: #a7bee2;
$blue-100: #c9d6ea;
$blue-50: #e8eff6;

// brown
$brown-900: #1c1607;
$brown-800: #3c362a;
$brown-700: #5b5447;
$brown-600: #6e675a;
$brown-500: #978f81;
$brown-400: #b8afa1;
$brown-300: #dcd4c5;
$brown-200: #ede5d5;
$brown-100: #f8efe0;
$brown-50: #fff7e8;

// wine
$wine-900: #442730;
$wine-800: #55343c;
$wine-700: #663f46;
$wine-600: #774b52;
$wine-500: #84535a;
$wine-400: #976d72;
$wine-300: #ab878b;
$wine-200: #c4a9ad;
$wine-100: #dfcbcd;
$wine-50: #f6e9e9;

//gray
$gray-900: #202020;
$gray-800: #414141;
$gray-700: #606060;
$gray-600: #747474;
$gray-500: #9d9d9d;
$gray-400: #bcbcbc;
$gray-300: #dfdfdf;
$gray-200: #ededed;
$gray-100: #f5f5f5;
$gray-50: #fafafa;

// remove after refactor

$primary-color: $blue-400;
$primary-background: $gray-50;
$secondary-background: $gray-200;
