<div class="config-container">
  <div class="config">
    <label class="pass-length-label" for="pass-size">Password size: {{ passSizeValue.value }}</label>
    <input
      type="range"
      id="pass-size"
      name="pass-size"
      min="1"
      max="100"
      value="8"
      (input)="passSize(passSizeValue.value)"
      #passSizeValue
    />

    <form class="" (change)="passChar(lower.checked, number.checked, upper.checked, special.checked)">
      <div class="checkbox">
        <span class="config-text">Lower</span>
        <input
          type="checkbox"
          id="lower"
          checked="checked"
          (change)="(lower.checked)"
          #lower
        />
        <label for="lower"></label>
      </div>
      <div class="checkbox">
        <span class="config-text">Number</span>
        <input
          type="checkbox"
          id="number"
          checked="checked"
          (change)="(number.checked)"
          #number
        />
        <label for="number"></label>
      </div>
      <div class="checkbox">
        <span class="config-text">Upper</span>
        <input type="checkbox" id="upper" (change)="(upper.checked)" #upper/>
        <label for="upper"></label>
      </div>
      <div class="checkbox">
        <span class="config-text">Special</span>
        <input
          type="checkbox"
          id="special"
          (change)="(special.checked)"
          #special
        />
        <label for="special"></label>
      </div>
    </form>
    <button class="generate-button" (click)="generate()">generate</button>
  </div>
</div>
