	 <header>
		  <!-- Logo -->
		  <div id="logo">
			 <h1>{{title}}</h1>
		 </div>
		  <!-- Navigation -->
		  <!--<nav>
			 <ul>
				<li><a href="index.html" title="Joe's Pizza Co." class="active">Home</a></li>
				<li><a href="about.html" title="Find out more about Joe's Pizza Co.">About</a></li>
				<li><a href="news.html" title="Latest news about Joe's Pizza Co.">News</a></li>
				<li><a href="menu.html" title="The restaurant menu for Joe's Pizza Co.">Menu</a></li>
				<li><a href="locations.html" title="Joe's Pizza Co. restaurant locations.">Locations</a></li>
			 </ul>
     </nav>-->
		</header>

		<div id="content">
			<section id="opt">
				<app-options></app-options>
			</section>
			<section id="res">

			</section>
		</div>
		<footer>

		</footer>
