<header>
  <div class="logo">
    <h1>{{ title }}</h1>
  </div>

  <div class="github">
    <form action="https://www.paypal.com/donate" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_donations"/>
      <input type="hidden" name="business" value="DHJK5FNSLVYE8"/>
      <input type="hidden" name="currency_code" value="BRL"/>
      <button
        class="btn-small"
        type="submit"
        title="PayPal - The safer, easier way to pay online!"
      >Donate
      </button>
    </form>
    <div style="width: 28px;"></div>
    <a href="https://github.com/alexNeto/passrator" target="_blank">
      <img src="/assets/img/github.png" width="35px" alt=""/>
    </a>
  </div>
</header>

<section>
  <app-options></app-options>
</section>
